@import './_vars.scss';

.cart {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    transition: 0.2s ease-in-out;
    max-height: 510px;

    &:hover {
      transform: translate(0, -2px);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  &__image {
    display: grid;
    position: relative;
    border-radius: 8px;
  }

  &__id {
    text-align: center;
    font-size: 11px;
    color: grey;
  }

  &__name {
    display: flex;
    text-align: center;
    flex-grow: 1;
    justify-content: flex-start;
    min-height: 72px;
  }

  &__name,
  &__brand,
  &__price {
    font-family: 'Verdana', 'Open sans';
  }

  &__name,
  &__brand {
    font-size: 14px;
  }

  &__brand {
    font-weight: 600;
  }

  &__price {
    @include flex-allcenter;

    font-size: 20px;
    line-height: 28px;
    color: $base-red;
  }
}

.cart-buttons {
  &__add,
  &__text {
    color: white;
  }

  &__add {
    width: 24px;
    height: 24px;
  }

  &__in-cart {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid $base-red;
    border-radius: 8px;
    height: 40px;
  }

  &__big {
    height: 24px;
    width: 24px;
    color: $base-red;
  }
}

.list {
  display: grid;
  justify-items: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  min-height: calc(100vh - 300px);
}
